<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52998854444-qhm21a4srcd10vvik0sfgjg77ou3rr47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52998854444-qhm21a4srcd10vvik0sfgjg77ou3rr47</string>
	<key>API_KEY</key>
	<string>AIzaSyAwnqNpvajg6EtokVNrFNlD1QmOsTH6Wvo</string>
	<key>GCM_SENDER_ID</key>
	<string>52998854444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mandato.GoodJar</string>
	<key>PROJECT_ID</key>
	<string>goodjar-9a2f6</string>
	<key>STORAGE_BUCKET</key>
	<string>goodjar-9a2f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52998854444:ios:0be3145d98a5ebee383e89</string>
	<key>DATABASE_URL</key>
	<string>https://goodjar-9a2f6.firebaseio.com</string>
</dict>
</plist>